.minhas-habilidades {
    align-items: center; 
    border-top: 1px solid #ffffff;
    display: flex;
    min-height: 82vh;
    padding: 20px 0;
}

.imagens-habilidades {
    margin: 0 auto;
    width: 94%;
}

.habilidade-nome {
    color: aqua;
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    width: 94%;
}

.imagens-html, .imagem-css, .imagem-java {
    align-items: center;
    display: flex;
	justify-content: space-between;
}


.fonte-texto-html, .fonte-texto-css, .fonte-texto-java{
    color: aqua;
    font-family: 'Podkova', serif;
    font-size: 25px;
    text-align: center;
}


@media screen and (max-width:1050px){
    .habilidade-nome{
        font-size: 50px;
    }

    .fonte-texto-html, .fonte-texto-css, .fonte-texto-java {
        font-size: 20px;
        padding: 15px;
        width: auto;
    }

}

@media screen and (max-width:700px){
    .habilidade-nome {
        font-size: 50px;
    }

    .fonte-texto-html, .fonte-texto-css, .fonte-texto-java {
        font-size: 15px;
        padding: 15px;
        width: auto;
    }
}

