.minhas-habilidades {
    align-items: center; 
    border-top: 1px solid #ffffff;
    display: flex;
    min-height: 82vh;
    padding: 20px 0;
}

.imagens-habilidades {
    margin: 0 auto;
    width: 94%;
}

.habilidade-nome {
    color: aqua;
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    width: 94%;
}

.sobre-html,
.sobre-css,
.sobre-java,
.sobre-git,
.sobre-mysql {
    align-items: center;
    display: flex;
	justify-content: space-between;
}


.fonte-texto-html,
.fonte-texto-css, 
.fonte-texto-java,
.fonte-texto-git,
.fonte-texto-mysql{
    color: aqua;
    font-family: 'Podkova', serif;
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

.fa-html5{
    color: rgb(255, 89, 29);
    font-size: 100px;
}

.fa-css3-alt {
    color: rgb(0, 162, 255);
    font-size: 100px;
}

.fa-square-js {
    color: rgba(255, 255, 0, 0.938);
    font-size: 80px;
}

.fa-git-alt {
    color: rgb(255, 89, 29);
    font-size: 90px;
}

.fa-database {
    color: rgb(5, 5, 201);
    font-size: 80px;
}


@media screen and (max-width:1050px){
    .habilidade-nome{
        font-size: 50px;
    }

    .fonte-texto-html, 
    .fonte-texto-css, 
    .fonte-texto-java,
    .fonte-texto-git,
    .fonte-texto-mysql {
        font-size: 20px;
        padding: 15px;
        width: auto;
    }

}

@media screen and (max-width:700px){
    .habilidade-nome {
        font-size: 50px;
    }

    .fonte-texto-html, 
    .fonte-texto-css, 
    .fonte-texto-java,
    .fonte-texto-git,
    .fonte-texto-mysql {
        font-size: 15px;
        padding: 15px;
        width: auto;
    }
}

