.headerPrincipal{
    box-shadow: 0 1px 2px var(--shadow-color);
    background: linear-gradient(41deg, #000000, #2d0da3d9, #000000d9, #000000);
    box-shadow: 0px 0px 20px #000000;
    position: fixed;
    width: 100%;
    z-index: 1;
}
  
ul {
    list-style-type: none;
}
  
.nav-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
  
.nav-toggle {
    background: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: 1s;
}
/* .nav-toggle:hover {
    color: cyan;
    transform: rotate(90deg);
} */
  
.links a {
    color: aqua;
    display: block;
    font-size: 18px;
    font-style: inherit;
    font-weight: bold;
    font-family: 'Combo', cursive;
    padding: 10px 10px;
    text-decoration: none;
    transition: 1s;
}


.social-icons {
    display: none;
    font-size: 40px;
}
  
.social-icons i:hover{
    color: cyan;
    transition: 1s;
}
  
ul.social-icons {
    color: white;
}
  
.links {
    font-family: 'Podkova', serif;
    height: 0;
    overflow: hidden;
    transition: 1s;
}
  
.links a:hover {
    color: darkviolet;
    transition: 1s;
}
  
.show-links {
    height: 10rem;
}
  
  
  
@media screen and (min-width: 800px) {
    .nav-center {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 0px 10px 150px;
    }
  
    .nav-header {
    padding: 0;
    }
  
    .nav-toggle {
    display: none;
    }
  
    .links {
    display: flex;
    height: auto;
    }
  
  
    .social-icons {
    display: flex;
    }
  
    .social-icons a {
    color: var(--clr-primary-5);
    margin: 0 0.5rem;
    transition: var(--transition);
    }
  
    .social-icons a:hover {
    color: var(--clr-primary-7);
    }
}