.sobre-mim {
    align-items: center;
    display: flex;
    min-height: 80vh;
    padding: 20px 0;
}



.sobre-mim .container{
    align-items: center;
    color: aqua;
    display: flex;
	justify-content: space-evenly;
}

.sobre-mim-logo {
    border-radius: 45px;
    margin-bottom: 60px;
    width: 310px;
    /*transform: translateY(0px);
    animation: float 20s ease-in-out infinite;*/
}

.sobre-mim-apresentacao {
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
    text-align: center;
}

.sobre-mim-texto {
    display: flex;
    flex-direction: column;
    font-family: 'Podkova', serif;
    font-size: 25px;
    margin: 20px;
    max-width: 1000px;
    padding: 0;
    text-align: center;
    text-indent: 30px;
}


@media screen and (max-width:1050px){
    .sobre-mim-apresentacao{
        font-size: 50px;
    }

    .sobre-mim-texto {
        font-size: 22px;
    }

}


@media screen and (max-width:700px){
    .sobre-mim-apresentacao {
        font-size: 50px;
    }

    .sobre-mim-texto {
        font-size: 18px;
    }
}