body {
    background: linear-gradient(41deg, #000000, #2d0da3, #000000, #000000);
    font-family: 'Montserrat', sans-serif;
    width: auto;
}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
	margin: 0 auto;
    width: 94%;
}



@media screen and (max-width:1050px){
    body {
        width: 100%;
    }

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width:799px){
    .container{
        display: flex;
        flex-direction: none;    
        justify-content: center;
    }

    section {
        padding: 0;
        width: 100%;
    }
}


